@use 'index' as *;

// CSS Reset & Base Styles
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-dm-sans;
  background-color: $background;
  color: $on-surface;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

// Global Text Selection Color
::selection {
  background-color: rgba($primary, 0.2);
}
